<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 기록 - 오늘의 목표</title>
    <link rel="stylesheet" href="/sidebar/style_sidebar.css">
    <link rel="stylesheet" href="/my_record/style_goals.css">
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="#" class="closebtn" onclick="toggleNav()">
        <img src="/assets/close.svg" alt="접기">
        접기
    </a>
    <a href="/time/home" class="home-link">홈</a>
    <a href="/security-login/goals" class="record-link">나의 기록</a>
    <a href="/security-login/my-page" class="mypage-link">마이페이지</a>
    <a href="/friends" class="friend-link">친구 관리</a>
    <a href="/settings/main" class="setting-link">
        <img src="/assets/setting.svg" alt="설정">
        설정
    </a>
    <a href="#" class="dm-link">
        <img src="/assets/message.svg" alt="디엠">
    </a>
    <a href="/notifications/main" class="alarm-link">
        <img src="/assets/alarm.svg" alt="알람">
    </a>

    <a href="/announcement/announcement-main" class="notify-link">
        <img src="/assets/notify.svg" alt="공지">
    </a>

    <a href="/profile" class="profile-link">
        <img src="/assets/logout.svg" alt="프로필 이미지">
    </a>

    <form action="/security-login/logout" method="POST" class="logout-form" style="display: inline;">
        <button type="submit" class="logout-link" style="background: none; border: none; padding: 0; cursor: pointer;">
            로그아웃
        </button>
    </form>

</div>

    <span class="arrow" onclick="toggleNav()">
        <img src="/assets/open.svg" alt="열기" class="openbtn">

    </span>


    <div class="container">
        <header>
            <h1>나의 기록</h1>
            <nav>
                <a href="/security-login/goals" class="active">오늘의 목표</a>
                <a href="/timer/timelaps">타임 랩스</a>
            </nav>
        </header>
        <main>
            <div class="date">
                <div class="date-icon"><img src="/my_record/calendar.svg"></div>
                <span>2024.02.18.(일)</span>
            </div>
            <ul class="task-list">
                <li class="task completed">총알 오징어 (1/4) 듣기</li>
                <li class="task completed">총알 오징어 (1/4) 노션에 정리하기</li>
                <li class="task pending">목표 설정 UI 디자인 하기</li>
                <li class="task pending">총알 오징어 (2/4) 듣기</li>
            </ul>
            <button class="add-task">목표 추가하기</button>
        </main>
    </div>
    <script src="/my_record/script_goals.js"></script>
</body>
</html>
