.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    display: block;
    clear: both;
}
.sent {
    background-color: #ffffff; /* 보낸 메시지의 색상을 밝은 연두색으로 변경 */
    text-align: right;
    float: right;
    margin-left: auto;
    margin-right: 10px;
}
.received {
    background-color: #5EB3AC; /* 받은 메시지의 색상을 흰색으로 변경 */
    text-align: left;
    float: left;
    margin-right: auto;
    margin-left: 10px;
    border: 1px solid #ececec; /* 약간의 테두리를 추가하여 구분 */
}
#messageArea {
    height: 400px;
    overflow-y: scroll;
    clear: both;
    background-color: #f9f9f9; /* 메시지 영역의 배경색을 밝은 회색으로 변경 */
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
}
.input-group {
    margin-top: 10px;
}
.form-control {
    border-radius: 20px;
}
.btn-primary {
    border-radius: 20px;
}
