<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Notification</title>
</head>
<body>
<h1>공지사항 작성</h1>
<form action="/notifications/admin" method="post">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required>

    <label for="message">공지사항 내용:</label>
    <input type="text" id="message" name="message" required>

    <button type="submit">공지사항 전송</button>
</form>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>
