<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚌</text></svg>">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div>
    <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
        <h2>유저 정보</h2>
        <div>
            <div th:text="|loginId : ${user.loginId}|"/>
            <div th:text="|nickname : ${user.nickname}|"/>
            <div th:text="|role : ${user.role}|"/>
        </div>
    </div>
</body>
</html>
