<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>로그인</title>
  <link rel="stylesheet" href="/login/style_login.css" />
  <script src="https://kit.fontawesome.com/9125fcc41c.js" crossorigin="anonymous"></script>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚌</text></svg>">
</head>
<body style="background: linear-gradient(to top right, #b8fdc8, #bfd6ff, white)">
<header>
  <img src="/assets/signup_logo_white.png" width="100px" style="margin-top: 25px" />
</header>
<form id="loginForm" action="/security-login/login" method="post">
  <div class="login-wrapper">
    <h2>환영합니다.</h2>
  </div>
  <div>
    <input
            type="email"
            id="email"
            name="loginId"
            placeholder="이메일을 입력하세요"
            required
    />
  </div>
  <div class="input_password">
    <input
            type="password"
            id="password"
            name="password"
            class="form-input"
            placeholder="비밀번호를 입력하세요"
            maxlength="20"
            required
    />
    <button id="showPassword" type="button">
      <i class="fa-solid fa-eye"></i>
    </button>
  </div>
  <div class="page_center">
    <div class="remember-container">
      <input type="checkbox" id="remember" />
      <label for="remember">로그인 유지</label>
    </div>
    <div class="find-container">
      <button
              class="findemail"
              type="button"
              onClick="location.href='/security-login/find-email-1'"
      >
        이메일 찾기
      </button>
      <span>|</span>
      <button
              class="findpassword"
              type="button"
              onClick="location.href='/security-login/find-password-1'"
      >
        비밀번호 찾기
      </button>
    </div>
  </div>
  <div class="emaillogin">
    <button class="mainlogin" type="submit">이메일로 로그인</button>
  </div>
</form>
<div class="tosignup">
  <button
          class="to_signup"
          type="button"
          onClick="location.href='/security-login/join'"
  >
    회원가입
  </button>
</div>
<script src="/login/script_login.js"></script>
</body>
</html>
