<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/sign_up/style_sign_up_2.css" />
  <!-- FontAwesome CDN 추가 -->
  <script src="https://kit.fontawesome.com/9125fcc41c.js" crossorigin="anonymous"></script>
</head>
<body class="vsc-initialized">
<header>
  <img src="/assets/signup_logo_white.png" width="100px" style="margin-top: 20px">
  <div style="justify-content: center; margin-top: 10px">
    <span style="color: #444444; font-size: 35px"><b>회원가입</b></span>
    <span style="font-size: 20px; color: #6a88c0; margin-right: 330px">[정보입력]</span>
    <span style="color: #6a88c0; font-size: 25px"><b>2/2</b></span>
  </div>
</header>
<div class="bg" style="height: 700px;padding: 30px;">
  <form method="post" action="/security-login/join2">
    <div>
      <label for="loginId">로그인 아이디 (이메일) </label>
      <input type="text" id="loginId" name="loginId" value="">

      <button type="button" onclick="sendVerificationEmail()">인증 메일 보내기</button>
    </div>
    <br>
    <div>
      <label for="emailToken">이메일 인증 토큰 </label>
      <input type="text" id="emailToken" name="emailToken">
      <button type="button" onclick="verifyEmailToken()">인증 토큰 확인</button>
    </div>
    <br>
    <div>
      <label for="username">사용자 이름  </label>
      <input type="text" id="username" name="username" value="">

    </div>
    <br>
    <div>
      <label for="password">비밀번호 </label>
      <input type="password" id="password" name="password" value="">

    </div>
    <br>
    <div>
      <label for="passwordCheck">비밀번호 체크 </label>
      <input type="password" id="passwordCheck" name="passwordCheck" value="">

    </div>
    <br>
    <div>
      <label for="nickname">닉네임  </label>
      <input type="text" id="nickname" name="nickname" value="">

    </div>
    <br>
    <div>
      <label for="phoneNumber">전화번호 </label>
      <input type="text" id="phoneNumber" name="phoneNumber" value="">

    </div>
    <br>
    <div>
      <label for="birthDate">생년월일 </label>
      <input type="date" id="birthDate" name="birthDate" value="">

    </div>
    <br>
    <div>
      <label for="gender">성별 </label>
      <select id="gender" name="gender">
        <option value="female">여성</option><option value="male">남성</option>

        <option value="other">기타</option>
      </select>

    </div>
    <br>

    <div class="btnContainer">
      <button id="joinBtn" type="submit">회원 가입</button>
    </div>
  </form>

  <script>
    function sendVerificationEmail() {
      const loginId = document.querySelector('[name="loginId"]').value;
      fetch('/api/sendVerificationEmail', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ loginId: loginId })
      })
              .then(response => response.text())
              .then(data => {
                alert(data);
                // 성공 시 폼 제출 허용
                document.querySelector('form').submit();
              })
              .catch(error => console.error('Error:', error));
    }


    function verifyEmailToken() {
      const token = document.getElementById('emailToken').value;
      fetch('/api/verifyEmail?token=' + token, {
        method: 'GET'
      })
              .then(response => response.text())
              .then(data => alert(data))
              .catch(error => console.error('Error:', error));
    }
  </script>
</div>


</body>
</html>


