body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    margin: 20px;
    padding-left: 250px;
    margin: 0 auto;
    width: 70%;

}

nav {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #888;
    margin: 5px 0;
    font-size: 28px;
    padding: 40px;
}

nav a.active {
    color: #333;
    font-weight: bold;
}

/*
.functionality-container {
    margin-left: 260px;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
*/

.record-container {
    padding: 20px;
    background-color: #fcf6f5;
    border-radius: 8px;
    /*max-width: 600px;*/
    margin: 40px auto;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 0;
}

.task-list {
    width: 80%;
    max-width: 1000px;
    margin: 20px 60px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.task-list th, .task-list td {
    padding: 16px;
    text-align: left;
}

.task-list th {
    background-color: #91B6FA;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.task-list tr {
    border-bottom: 1px solid #e0e0e0;
}

.task-list tr:last-child {
    border-bottom: none;
}

.task-list tr:hover {
    background-color: #f5f5f5;
}

.task-list td {
    font-size: 14px;
    color: #555;
}

.task-list a {
    color: #91B6FA;
    text-decoration: none;
    font-weight: bold;
}

.task-list a:hover {
    text-decoration: underline;
}


#addForm {
   /* position: relative;*/
   /* padding-right: 40px; /* Space for the remove button */
}


#todoForm {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
}
#todoForm input[type="text"] {
    width: 90%;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    margin-bottom: 15px;
    border: 1px solid #d0daff;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    color: #4a4a4a;
    background-color: #f0f4ff;

}







#todoForm input[type="text"]:focus {
    border-color: #91b6fa;
    outline: none;
}

#todoForm input[type="text"]:hover {
    background-color: #e0e8ff;
}

#formButton {
    background-color: #91b6fa;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#formButton:hover {
    background-color: #729df1;
}